
#maison {
    position: absolute;
    left: 0vw;
    top: 0vh;
    max-height: 72px;
    max-width: 100px;
    transform: scale(0);
}

.maison-fait-tour {
    animation: maison-fait-tour 5s ease-in 400ms 3;
}

@keyframes maison-fait-tour {
    0% {
        left: 0vw;
        top: 0vh;
        transform: scale(0);
    }
    4% {
        left: 0vw;
        top: 0vh;
        transform: scale(1);
    }
    15% {
        transform: rotate(-45deg);
        filter: drop-shadow(4px 4px 8px red);
    }
    23% {
        transform: rotate(-75deg);
    }
    25% {
        left: 92vw;
        top: 0vh;
        transform: rotate(15deg);
        filter: drop-shadow(0px 0px 0px red);
    }
    28% {
        left: 92vw;
        top: 0vh;
        transform: rotate(0deg);
    }
    31% {
        transform: rotate(-8deg);
    }
    32% {
        transform: rotate(8deg);
    }
    33% {
        transform: rotate(-8deg);
    }
    34% {
        transform: rotate(8deg);
    }
    35% {
        transform: rotate(-8deg);
    }
    36% {
        transform: rotate(8deg);
    }
    37% {
        transform: rotate(-8deg);
    }
    38% {
        transform: rotate(8deg);
    }
    39% {
        transform: rotate(-8deg);
    }
    40% {
        transform: rotate(8deg);
        filter: drop-shadow(4px 4px 8px red);
    }
    41% {
        transform: rotate(-8deg);
    }
    42% {
        transform: rotate(8deg);
    }
    43% {
        transform: rotate(-8deg);
    }
    44% {
        transform: rotate(8deg);
    }
    46% {
        left: 92vw;
        top: 5vh;
    }
    50% {
        left: 92vw;
        top: 90vh;
        color: blue;
    }
    53% {
        left: 92vw;
        top: 90vh;
        filter: drop-shadow(0px 0px 0px red);
    }
    55%{
        transform: rotate(45deg);
    }
    60%{
        filter: drop-shadow(4px 4px 8px red);
    }
    63%{
        filter: drop-shadow(0px 0px 0px red);
    }
    67%{
        filter: drop-shadow(4px 4px 8px red);
    }
    70%{
        filter: drop-shadow(0px 0px 0px red);
    }
    73%{
        transform: rotate(75deg);
        filter: drop-shadow(4px 4px 8px red);
    }
    75% {
        left: 0vw;
        top: 90vh;
        transform: rotate(-15deg);
        filter: drop-shadow(0px 0px 0px red);
    }
    77%{
        left: 0vw;
        top: 90vh;
        transform: rotate(0deg);
        filter: drop-shadow(4px 4px 8px red);
    }
    90%{
        top: 85vh;
        filter: drop-shadow(0px 0px 0px red);
    }
    94% {
        transform: scale(1);
        filter: drop-shadow(4px 4px 8px red);
    }

    100% {
        left: 0vw;
        top: 0vh;
        transform: scale(0);
        filter: drop-shadow(0px 0px 0px red);

    }
}

.cls-1 {
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 10px;
}


.svg {
    height: 40px;
    width: 30px;
}

.maison-sen-va {
    animation: maison-sen-va 200ms ease-in forwards;
}
.maison-sen-vient {
    animation: maison-sen-va 200ms ease-in reverse;
}

@keyframes maison-sen-va {
    100% {
        transform: scale(0);
    }
}