@mixin hover {
    &:hover {
        color: $bleu-pale !important;
        text-decoration: underline;
        margin-right: 10px;
        font-size: 20px;
        transition: all 400ms cubic-bezier(1,.01,1,.38);
    }
}

@mixin grid-col($nbrColumn, $unit) {
    display: grid;
    grid-template-columns: repeat($nbrColumn, $unit);
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

@mixin j-self($jself, $gcol) {
    justify-self: $jself;
    grid-column: $gcol;
}

@mixin font-size($size) {
    font-size: $size;
}

@mixin marginLR($m-left, $m-right) {
    margin-left: $m-left;
    margin-right: $m-right;
}
