@import "./color";

#ouvrir-modal:hover{
    cursor: pointer;
    text-decoration: underline;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-header{
    background-color: #fff;
    margin: 5px auto;
    padding: 20px;
    border: 2px solid $bleu-fonce;
    width: 80%;
    border-radius: 5px;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
}

.modal-content{
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid $bleu-fonce;
    width: 80%;
    border-radius: 5px;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
}

.ferme{
    margin-top: 15px;
    border: 1px solid $bleu-fonce;
    border-radius: 5px;
    font-weight: 700;
}

.ferme:hover{
    background-color: rgba($bleu-moyen, 0.5);
}

.ferme:focus{
    background-color: rgba($bleu-moyen, 0.8);
}

.animationModal{
    transform: rotate(0);
    transition: transform 1s cubic-bezier(.74,.73,1,.56);
}