@import "./color";
@import "./mixinTp4";

$base: 16px;
$h1: 9rem;
$h2: 4.5rem;
$h3: 3rem;
$h4: 1.5rem;
$h5: 1.25rem;
$h6: 0.75rem;

html,
p {
    font-family: source sans pro;
    font-weight: regular;
    font-size: 14px;
}

body {
    line-height: 1.6;
}

p {
    margin: 20px 10px;
    max-width: 60rem;
    text-align: justify;
}

h1 {
    font-family: jomhuria;
    font-size: $h1;
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    line-height: 1;
}

h2,
.h2 {
    font-family: source sans pro;
    font-weight: regular;
    font-size: $h2;
    color: $bleu-fonce;
}

h3 {
    font-family: source sans pro;
    font-weight: light;
    font-size: $h3;
}

h4,
.h4 {
    font-family: source sans pro;
    font-weight: bold;
    font-size: $h4;
}

h5 {
    font-family: source sans pro;
    font-weight: regular;
    font-size: $h5;
}

h6 {
    font-family: source sans pro;
    font-weight: regular;
    font-size: $h6;
}

q {
    font-style: italic;
}

sup {
    font-size: 0.5rem;
}

strong {
    font-weight: bold;
}

body,
html {
    height: 100%;
}

a {
    color: $bleu-moyen !important;
}

.text-center {
    text-align: center;
}
