@import "./mixinTp4";
@import "./color";

li {
    a {
        @include hover;
    }
}

.hover {
    @include hover;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.unwrap {
    white-space: nowrap;
}

.relative {
    position: relative;
}

.margin-center {
    margin: 0 auto;
}

.margin-around {
    margin: 20px 10px;
}

.nowrap {
    white-space: nowrap;
}

.no-padding {
    padding: 0;
}

.red-bar {
    width: 80px;
    background-color: $rouge-fonce;
}

.red-bar-r {
    width: 80px;
    background-color: $rouge-fonce;
    justify-self: end;
}
