@import "./text";
@import "./color";
@import "./utilitaire";
@import "./mixinTp4";
@import "./modal";
@import "./animation";


.btn-primary {
    background-color: $bleu-fonce;
}

.btn-primary:hover {
    background-color: $bleu-moyen;
}

// /----------------menu-------------------/
.bg-black {
    background-color: #000;
}

.line {
    height: 25px;
    width: auto;
    z-index: 10;
}

.menu {
    color: #fff;
    text-decoration: none;
    margin-right: 0px;
    transition: all 500ms ease-in;
}

.bg-dark {
    background: linear-gradient(180deg, $bleu-fonce 50.52%, rgba(125, 214, 208, 0) 100%) !important;
}

.justify-menu {
    justify-items: end;
}

.col-menu {
    grid-column: 2 / span 5;
}

.house-size {
    max-height: 72px;
}


// override bootstrap
.flex-row {
    flex-wrap: wrap;
}

.bg-dark-inverse {
    background: linear-gradient(0deg, $bleu-fonce 50.52%, rgba(125, 214, 208, 0) 100%);
    height: 190px;
}

// /----------------acceuil----------------/
.boite {
    background-color: #111;
    color: #fff;
    padding: 50px;
    letter-spacing: 10px;
    margin-top: 40%;
}

.p-main-text {
    padding: 10% 0;
}

.acceuil-bg1 {
    background-image: url("../img/01-Acceuil-Pares_Balta.jpg");
}
.acceuil-bg2 {
    background-image: url("../img/01-Acceuil-Gros_portrait2.jpg");
}
.acceuil-bg3 {
    background-image: url("../img/01-Acceuil-Gros_portrait3.jpg");
}

.parallax {
    min-height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

// /----------- Presentation---------------/

.grid-col6 {
    @include grid-col(6, 1fr);
}

.col-start2 {
    grid-column: 2 / span 4;
}

.col-start3 {
    grid-column: 2/ 7;
}

.justify-center {
    justify-self: center;
}

.span2 {
    grid-column: span 2;
}

.span3 {
    grid-column: span 3;
}

.span4 {
    grid-column: span 4;
}

.span6 {
    grid-column: span 6;
}

.jr-self {
    @include j-self(end, span 2);
}

.jl-self {
    @include j-self(start, span 2);
}

.margin-20 {
    @include marginLR(20%, 20%);
}

// /---------------- blog------------------/

.col-start1 {
    grid-column: 1 / span 6;
}

.row-start1 {
    grid-row: 1 / 1;
}

.align-center {
    align-self: center;
}

.fleche-d {
    grid-column-start: 7;
}

.jc-space-between {
    justify-content: space-between;
}

// /--------------formulaire---------------/
label,
input,
textarea {
    margin-top: 10px;
}

input,
textarea {
    background-color: $gris-pale;
    border: 2px solid $bleu-fonce;
}

input {
    height: 30px;
}

textarea {
    resize: none;
}

.text-size21 {
    @include font-size(21px);
}

.submit {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), inset -4px -4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-height: 100px;
    max-width: 400px;
}

.submit:hover {
    background-color: $bleu-fonce;
    color: $bleu-pale;
}

.input-error {
    background-color: rgb(255, 126, 126);
}

// /------------Media queries--------------/
@media screen and (max-width: 992px) {
    h1 {
        font-size: 96px;
    }

    h2,
    .h2 {
        font-size: 6vw;
    }

    h4,
    .h4 {
        font-size: 18px;
    }

    .house-size,
    #maison {
        max-height: 55px;
    }

    .span2 {
        grid-column: 2/ 6;
    }

    .span3 {
        grid-column: 2/ 6;
    }

    .span4 {
        grid-column: 2/ 6;
    }

    .margin-20 {
        margin: 0 20% 3em 20%;
    }

    .col-start3 {
        grid-column: span 6;
    }

    .jr-self {
        @include j-self(center, span 4);
    }

    .jl-self {
        @include j-self(center, span 4);
    }

    .cacher {
        display: none;
    }

    .blog-image {
        @include j-self(center, 2/ 6);
        grid-column: 2/ 6;
    }

    .hide {
        display: none;
    }
}
