html,
p {
  font-family: source sans pro;
  font-weight: regular;
  font-size: 14px; }

body {
  line-height: 1.6; }

p {
  margin: 20px 10px;
  max-width: 60rem;
  text-align: justify; }

h1 {
  font-family: jomhuria;
  font-size: 9rem;
  color: white;
  -webkit-text-stroke: 2px black;
  text-shadow: 2px 2px 4px white;
  line-height: 1; }

h2,
.h2 {
  font-family: source sans pro;
  font-weight: regular;
  font-size: 4.5rem;
  color: #1f6c7c; }

h3 {
  font-family: source sans pro;
  font-weight: light;
  font-size: 3rem; }

h4,
.h4 {
  font-family: source sans pro;
  font-weight: bold;
  font-size: 1.5rem; }

h5 {
  font-family: source sans pro;
  font-weight: regular;
  font-size: 1.25rem; }

h6 {
  font-family: source sans pro;
  font-weight: regular;
  font-size: 0.75rem; }

q {
  font-style: italic; }

sup {
  font-size: 0.5rem; }

strong {
  font-weight: bold; }

body,
html {
  height: 100%; }

a {
  color: #2ca8a0 !important; }

.text-center {
  text-align: center; }

li a:hover {
  color: #7dd6d0 !important;
  text-decoration: underline;
  margin-right: 10px;
  font-size: 20px;
  transition: all 400ms cubic-bezier(1, 0.01, 1, 0.38); }

.hover:hover {
  color: #7dd6d0 !important;
  text-decoration: underline;
  margin-right: 10px;
  font-size: 20px;
  transition: all 400ms cubic-bezier(1, 0.01, 1, 0.38); }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.unwrap {
  white-space: nowrap; }

.relative {
  position: relative; }

.margin-center {
  margin: 0 auto; }

.margin-around {
  margin: 20px 10px; }

.nowrap {
  white-space: nowrap; }

.no-padding {
  padding: 0; }

.red-bar {
  width: 80px;
  background-color: #bf2b45; }

.red-bar-r {
  width: 80px;
  background-color: #bf2b45;
  justify-self: end; }

#ouvrir-modal:hover {
  cursor: pointer;
  text-decoration: underline; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-header {
  background-color: #fff;
  margin: 5px auto;
  padding: 20px;
  border: 2px solid #1f6c7c;
  width: 80%;
  border-radius: 5px;
  transform: rotate(-90deg);
  transform-origin: 0% 100%; }

.modal-content {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #1f6c7c;
  width: 80%;
  border-radius: 5px;
  transform: rotate(90deg);
  transform-origin: 0% 0%; }

.ferme {
  margin-top: 15px;
  border: 1px solid #1f6c7c;
  border-radius: 5px;
  font-weight: 700; }

.ferme:hover {
  background-color: rgba(44, 168, 160, 0.5); }

.ferme:focus {
  background-color: rgba(44, 168, 160, 0.8); }

.animationModal {
  transform: rotate(0);
  transition: transform 1s cubic-bezier(0.74, 0.73, 1, 0.56); }

#maison {
  position: absolute;
  left: 0vw;
  top: 0vh;
  max-height: 72px;
  max-width: 100px;
  transform: scale(0); }

.maison-fait-tour {
  animation: maison-fait-tour 5s ease-in 400ms 3; }

@keyframes maison-fait-tour {
  0% {
    left: 0vw;
    top: 0vh;
    transform: scale(0); }
  4% {
    left: 0vw;
    top: 0vh;
    transform: scale(1); }
  15% {
    transform: rotate(-45deg);
    filter: drop-shadow(4px 4px 8px red); }
  23% {
    transform: rotate(-75deg); }
  25% {
    left: 92vw;
    top: 0vh;
    transform: rotate(15deg);
    filter: drop-shadow(0px 0px 0px red); }
  28% {
    left: 92vw;
    top: 0vh;
    transform: rotate(0deg); }
  31% {
    transform: rotate(-8deg); }
  32% {
    transform: rotate(8deg); }
  33% {
    transform: rotate(-8deg); }
  34% {
    transform: rotate(8deg); }
  35% {
    transform: rotate(-8deg); }
  36% {
    transform: rotate(8deg); }
  37% {
    transform: rotate(-8deg); }
  38% {
    transform: rotate(8deg); }
  39% {
    transform: rotate(-8deg); }
  40% {
    transform: rotate(8deg);
    filter: drop-shadow(4px 4px 8px red); }
  41% {
    transform: rotate(-8deg); }
  42% {
    transform: rotate(8deg); }
  43% {
    transform: rotate(-8deg); }
  44% {
    transform: rotate(8deg); }
  46% {
    left: 92vw;
    top: 5vh; }
  50% {
    left: 92vw;
    top: 90vh;
    color: blue; }
  53% {
    left: 92vw;
    top: 90vh;
    filter: drop-shadow(0px 0px 0px red); }
  55% {
    transform: rotate(45deg); }
  60% {
    filter: drop-shadow(4px 4px 8px red); }
  63% {
    filter: drop-shadow(0px 0px 0px red); }
  67% {
    filter: drop-shadow(4px 4px 8px red); }
  70% {
    filter: drop-shadow(0px 0px 0px red); }
  73% {
    transform: rotate(75deg);
    filter: drop-shadow(4px 4px 8px red); }
  75% {
    left: 0vw;
    top: 90vh;
    transform: rotate(-15deg);
    filter: drop-shadow(0px 0px 0px red); }
  77% {
    left: 0vw;
    top: 90vh;
    transform: rotate(0deg);
    filter: drop-shadow(4px 4px 8px red); }
  90% {
    top: 85vh;
    filter: drop-shadow(0px 0px 0px red); }
  94% {
    transform: scale(1);
    filter: drop-shadow(4px 4px 8px red); }
  100% {
    left: 0vw;
    top: 0vh;
    transform: scale(0);
    filter: drop-shadow(0px 0px 0px red); } }

.cls-1 {
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 10px; }

.svg {
  height: 40px;
  width: 30px; }

.maison-sen-va {
  animation: maison-sen-va 200ms ease-in forwards; }

.maison-sen-vient {
  animation: maison-sen-va 200ms ease-in reverse; }

@keyframes maison-sen-va {
  100% {
    transform: scale(0); } }

.btn-primary {
  background-color: #1f6c7c; }

.btn-primary:hover {
  background-color: #2ca8a0; }

.bg-black {
  background-color: #000; }

.line {
  height: 25px;
  width: auto;
  z-index: 10; }

.menu {
  color: #fff;
  text-decoration: none;
  margin-right: 0px;
  transition: all 500ms ease-in; }

.bg-dark {
  background: linear-gradient(180deg, #1f6c7c 50.52%, rgba(125, 214, 208, 0) 100%) !important; }

.justify-menu {
  justify-items: end; }

.col-menu {
  grid-column: 2 / span 5; }

.house-size {
  max-height: 72px; }

.flex-row {
  flex-wrap: wrap; }

.bg-dark-inverse {
  background: linear-gradient(0deg, #1f6c7c 50.52%, rgba(125, 214, 208, 0) 100%);
  height: 190px; }

.boite {
  background-color: #111;
  color: #fff;
  padding: 50px;
  letter-spacing: 10px;
  margin-top: 40%; }

.p-main-text {
  padding: 10% 0; }

.acceuil-bg1 {
  background-image: url("../img/01-Acceuil-Pares_Balta.jpg"); }

.acceuil-bg2 {
  background-image: url("../img/01-Acceuil-Gros_portrait2.jpg"); }

.acceuil-bg3 {
  background-image: url("../img/01-Acceuil-Gros_portrait3.jpg"); }

.parallax {
  min-height: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-col6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  flex-wrap: wrap; }

.col-start2 {
  grid-column: 2 / span 4; }

.col-start3 {
  grid-column: 2/ 7; }

.justify-center {
  justify-self: center; }

.span2 {
  grid-column: span 2; }

.span3 {
  grid-column: span 3; }

.span4 {
  grid-column: span 4; }

.span6 {
  grid-column: span 6; }

.jr-self {
  justify-self: end;
  grid-column: span 2; }

.jl-self {
  justify-self: start;
  grid-column: span 2; }

.margin-20 {
  margin-left: 20%;
  margin-right: 20%; }

.col-start1 {
  grid-column: 1 / span 6; }

.row-start1 {
  grid-row: 1 / 1; }

.align-center {
  align-self: center; }

.fleche-d {
  grid-column-start: 7; }

.jc-space-between {
  justify-content: space-between; }

label,
input,
textarea {
  margin-top: 10px; }

input,
textarea {
  background-color: #e1e1e1;
  border: 2px solid #1f6c7c; }

input {
  height: 30px; }

textarea {
  resize: none; }

.text-size21 {
  font-size: 21px; }

.submit {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25), inset -4px -4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  min-height: 100px;
  max-width: 400px; }

.submit:hover {
  background-color: #1f6c7c;
  color: #7dd6d0; }

.input-error {
  background-color: #ff7e7e; }

@media screen and (max-width: 992px) {
  h1 {
    font-size: 96px; }
  h2,
  .h2 {
    font-size: 6vw; }
  h4,
  .h4 {
    font-size: 18px; }
  .house-size,
  #maison {
    max-height: 55px; }
  .span2 {
    grid-column: 2/ 6; }
  .span3 {
    grid-column: 2/ 6; }
  .span4 {
    grid-column: 2/ 6; }
  .margin-20 {
    margin: 0 20% 3em 20%; }
  .col-start3 {
    grid-column: span 6; }
  .jr-self {
    justify-self: center;
    grid-column: span 4; }
  .jl-self {
    justify-self: center;
    grid-column: span 4; }
  .cacher {
    display: none; }
  .blog-image {
    justify-self: center;
    grid-column: 0.33333;
    grid-column: 2/ 6; }
  .hide {
    display: none; } }
